::selection {
  background: teal;
  color: #fff;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: rgb(15 23 42);
}
::-webkit-scrollbar-thumb {
  background: rgb(8, 195, 195);
  transition: 0.3s ease;
  border: 0.3rem solid rgb(15 23 42);
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background: turquoise;
}
